*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
}
.topic{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 5rem;
    margin: 2rem;
}
.topic .topic-left h1{
    color: rgb(4, 4, 169);
    font-size: 35px;
   
}
.topic .topic-left h1 span{
    color:black;
}
.topic .topic-right a{
    margin-left: 3rem;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 800;
}
.topic .topic-right a:last-child{
    background-color: blue;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
.hire{
    display: flex;
}
.hire .hire-left{
    width: 50%;
    margin:5rem 7rem;
}
.hire .hire-left h1{
    font-size: 50px;
}
.hire .hire-left p{ 
    font-size: 14px;
    margin: 18px 0 ;
}
.hire .hire-left p span{
    color: #fff;
    background-color: blue;
    padding: 8px 15px;
    border-radius: 8px;
}
.hire .hire-right{
    width: 50%;
    margin-right: 2rem;
}
.text{
    text-align: center;
    margin-top: 7rem;
    font-size: 12px;
}
.company{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .company a{
    height: 40px;
    width: 50px;
    
    padding: 25px;
} */
.company a img{
    /* height: 80px; */
    margin: 0 1.5rem;
    width: 170px;
    /* padding-left: 2rem;   */
}
.company  .large img{
    width: 80px;
}
.talent{
    text-align: center;
    font-size: 30px;
    margin-top: 7rem;
   font-weight: 800;
   margin-bottom: 5rem;
}
.review{
    display: flex;
   width: 70%;
   margin: 0 auto;
   text-align: center;
}
.review .person {
    width: 30%;
    padding: 2rem;
    border: 1px solid;
    text-align: center;
    border-radius: 20px;
    margin: 0 1.5%;
}

.person img{
    height: 100px;
    width: 100px;
}
.person ul{
    display: flex;
    flex-wrap: wrap;
}
.person ul li{
    list-style-type: none;
   background-color: rgb(32, 31, 31);
   color: #fff;
   margin: 5px;
   border-radius: 20px;
   padding: 5px;
}
.walpaper{
    background-image: url(https://www.codebase.com/wp-content/uploads/2022/04/our-commitment-bg-1.jpeg);
    padding: 4rem 2rem;
    width: 100%;
    margin-top: 7rem;
    text-align: center;
    
}
.walpaper h1{
    color: #fff;
    text-align: center;
    font-weight: 800;
    font-size: 55px;
    margin-bottom:2rem ;
}
.semi-box{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: 4rem; */
    margin:0 auto ;
}
.fast{
    width: 42%;
    height: 350px;
    color: #fff;
    text-align: center;
    border: 1px solid;
    margin: 2rem 1rem 1rem;
    border-radius: 1rem;
    background-color: rgba(0,0,0,.5)
}
.fast .image{
    width: 100px;
    /* height: 60px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0 4rem 7rem;
 
}
.fast .image img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fast p{
    margin: 5px;
    text-align: center;
    font-size: 20px;
}
.imp{
    background-color: rgb(178, 245, 223);
}
.imp .talent{
    width: 70%;
    margin: 0 auto;
    
}
.imp .talent h1{
    text-align: center;
    padding-top: 5rem;
}
.web-develop{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5rem;
}
.web-develop .develop{
    width: 42%;
    /* height: 300px; */
    text-align: left;
    margin: 1rem 2rem;
    font-size: 16px;
}
.web-develop .develop img{
    width: 70px;
    margin-bottom: 2rem;

}